.container{
   
    background-color: #E0C3FC;
    background-image: linear-gradient(160deg, #E0C3FC 2%, #ffffff 100%);
    background-color: #FAACA8;
    background-image: linear-gradient(315deg, #FAACA8 0%, #DDD6F3 100%);

    
}
